{% extends 'base.html' %}

{% block contents %}

<ul>
<form class="form-horizontal " method="post" action="/login" >
  <fieldset>
    <legend formFont>登 录</legend>
      <p style="color: #ff3113 ;margin-left: 400px">{{ information }}</p>
    <div class="form-group formFont">
      <label for="inputEmail" class="col-lg-2 control-label">电子邮箱</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" name="email" placeholder="Email">
      </div>
    </div>
    <div class="form-group formFont">
      <label for="inputPassword" class="col-lg-2  control-label">密 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">重置</button>
        <button type="submit" class="btn btn-primary">提交</button>
      </div>
    </div>

  </fieldset>
</form>

</ul>
{% endblock %}